<div class="page-header">
  <h1 class="d_page_h1">第四次全国经济普查智能比对系统</h1>
  <div class="d_page_right">
    <span>数据处理地：背景东城区（101）</span>
    <div class="d_header_line"></div>
    <span>当前登录用户：代萌萌</span>
    <div class="d_header_line"></div>
    <span>修改密码</span>
    <div class="d_header_line"></div>
    <span>注销</span>
  </div>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>

